@model Veterinaria.Web.Models.Owner

@{
    ViewBag.Title = "Delete";
}

<div class="row justify-content-center m-3">
        <div class="col-md-10">
            <div class="card mb-4">
                <div class="card-header py-2 bg-dark">
                    <h6 class="text-white">Eliminar dueño</h6>
                </div>
                <div class="card-body">
                    <h3>¿Seguuro desea eliminar esto?</h3>

                    <div>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            <a href="@Url.Action("Index", "Owners")" class="btn btn-sm btn-danger">Cancelar</a>
        </div>
    }
</div>
                </div>
            </div>
        </div>
    </div>


