
<h1 style="background-color:red" class="text-center text-black-50">ACERCA DE PETS INN</h1>

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Content/img/ave.jpeg" class="d-block w-100" alt="..." height="400" width="500">
            <div class="carousel-caption d-none d-md-block">
                <h5>
                     VETERINARIA PETS INN
                </h5>
                <p>
                   CONTAMOS CON PERSONAL ALTAMENTE CAPACITADO PARA ATENDER A TUS MASCOTAS
                                    </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Content/img/pez.jpg" class="d-block w-100" alt="..." height="400" width="500">
            <div class="carousel-caption d-none d-md-block">
                <h5>MASCOTAS MARINAS</h5>
                <p>ESPECIALISTAS EN ANIMALES MARINOS Y TERRESTRES</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Content/img/hamster.jpg" class="d-block w-100" alt="..." height="400" width="500">
            <div class="carousel-caption d-none d-md-block">
                <h5>HAMSTERS</h5>
                <p>
                    TENEMOS PARA TI LAS MASCOTAS MÁS OCURRENTES Y DIVERTIDAS
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Content/img/horse.jpg" class="d-block w-100" alt="..." height="400" width="500">
            <div class="carousel-caption d-none d-md-block">
                <h5>CABALLOS   </h5>
                <p>
                    ¡LEÍSTE BIEN! CONTAMOS CON SERVICIO PARA ANIMALES DESDE EL MÁS PEQUEÑO HASTA LOS MÁS GRANDES
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Content/img/husky.jpg" class="d-block w-100" alt="..." height="400" width="500">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="text-black-50">PERROS</h5>
                <p class="text-black-50" style="background-color:floralwhite">
                    TRAE CUALQUIER RAZA DESDE LA MÁS PEQUEÑA HASTA LA MÁS GRANDE
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Content/img/turtle.jpg" class="d-block w-100" alt="..." height="400" width="500">
            <div class="carousel-caption d-none d-md-block">
                <h5>TORTUGAS</h5>
                <p>
                    AQUÍ CUIDAMOS DE AQUELLOS QUE ALEGRAN NUESTRO HOGAR
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Content/img/pingu.jpg" class="d-block w-100" alt="..." height="400" width="500">
            <div class="carousel-caption d-none d-md-block">
                <h5>PINGÜINOS</h5>
                <p>
                    ESPECIALISTAS MARINOS
                </p>
            </div>
        </div>
    </div>



    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previa</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


