<div class="w-auto p-xl-1" style="background-color:red;"><h3 class="text-white-50 text-center">CONTÁCTANOS</h3>
    <h4 class="float-left text-danger">
        Teléfono: (664) 292-15-21</h4>
    <h4 class="float-right text-danger">
        Correo: Petsinn@gmail.com
        </h4></div>
<img src="~/Content/img/port.jpg" width="1310" height="225" id="portada" />

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3364.9068924306453!2d-116.89884158544218!3d32.501917605269696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d938ca263b6137%3A0x1863a13bde47507!2spets%20inn!5e0!3m2!1ses!2smx!4v1590340072790!5m2!1ses!2smx" width="1310" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


