<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/Content/img/huella.jpg" type="image/png" />
    <title>PETS INN</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/sb-admin-2.min.css" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <!-- <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
     --!>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

     <!-- Custom styles for this template -->
    <link href="~/Content/landing-page.min.css" rel="stylesheet">

</head>

<body>

    <!-- Masthead -->

    <img src="~/Content/img/portada.jpg" width="1310" height="550"></img>

    <!-- Icons Grid -->
    <section class="features-icons bg-dark text-center text-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <img src="~/Content/img/1.jpg" width="300"></img>
                        </div>
                        <h3>CUÍDALOS</h3>
                        <p class="lead mb-0">Respetar a los animales es una obligación, amarlos es un privilegio</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <img src="~/Content/img/2.jpg" width="300"></img>
                        </div>
                        <h3>AMALOS</h3>
                        <p class="lead mb-0">El amor por todas las criaturas vivientes es el más noble atributo del ser humano</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <img src="~/Content/img/3.jpg" width="300"></img>
                        </div>
                        <h3>DISFRÚTALOS</h3>
                        <p class="lead mb-0">Si pasas tiempo con los animales, corres el riesgo de volverte una mejor persona</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase bg-warning">
        <div class="container-fluid p-0">
            <div class="row no-gutters">

                <img class="col-lg-6 order-lg-2 text-white showcase-img" src="~/Content/img/camello.jpg"></img>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>¿Sabías qué?</h2>
                    <p class="lead mb-0">Los camellos cuentan con tres párpados para protegerse de las tormentas de arena.</p>
                </div>
            </div>
            <div class="row no-gutters">
                <img class="col-lg-6 text-white showcase-img" src="~/Content/img/cocodrilo.jpg"></img>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>¿Sabías qué?</h2>
                    <p class="lead mb-0">Los cocodrilos no pueden sacar la lengua.</p>
                </div>
            </div>
            <div class="row no-gutters">
                <img class="col-lg-6 order-lg-2 text-white showcase-img" src="~/Content/img/koala.jpg"></img>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>¿Sabías qué?</h2>
                    <p class="lead mb-0">El Koala Australiano nunca toma agua, se alimenta únicamente de las hojas del eucalipto, de ellas obtiene la humedad que necesita.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
        <div class="container">
            <h2 class="mb-5">¿En qué nos especializamos?</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="~/Content/img/mar.jpg" alt="">
                        <h5>MARINOS</h5>
                        <p class="font-weight-light mb-0">"Trae tu mascota o elige una de las nuestras"</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="~/Content/img/ter.jpg" alt="">
                        <h5>TERRESTRES</h5>
                        <p class="font-weight-light mb-0">Nosotros nos hacemos cargo de tus mascotas</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="~/Content/img/aer.jpg" alt="">
                        <h5>AÉREOS</h5>
                        <p class="font-weight-light mb-0">Somos especialistas en todo tipo de mascotas</p>
                    </div>
                </div>
            </div>
    </section>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>



